*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bgColor: white;
    --textColor: rgb(11, 8, 36);
}
html{
    font-size: 10px;
}
.darkMode{
    --bgColor: rgb(11, 8, 36);;
    --textColor:white;
    transition: 0.5s;
}

body{
    font-family: 'Franklin Gothic Medium';
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--bgColor);
    color: var(--textColor);
    transition: 0.5s;
}
.work{
    display: flex;
    align-items: center;
}
.work h2{
    font-size: 6rem ;
    margin-right: 1.5rem;
}
.work button{
    width: 4rem;
    height: 4rem;
    outline: none;
    border: none;
    overflow: hidden; 
    cursor: pointer;
}
.work button span{
    width: 100%;
    height: 100%;
    display: block;
    line-height: 4rem;
    font-size: 2rem;
    transition: 0.5s;
}
.work button .moon{
    background-color:rgb(11, 8, 36); 
    color: white;
}
.work button .sun{
    background-color: rgb(218, 218, 37);
    
}
